.root {
  justify-content: center;
  text-align: center;
}

.messageList {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: auto;
  min-height: 70vh;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 4em;
}

.messageContainer {
  word-wrap: break-word;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2em;
  line-height: 1em;
  justify-content: center;
  text-align: center;
}

.messageContent {
  display: inline-block;
  width: fit-content;
  background-color: #FAFAFA;
  border-radius: 0.4em;
  padding: 0.2em;
}

.message {
  display: inline-flex;
  line-height: 1.25em;
}

.messageFooter {
  display: inline-flex;
  width: fit-content;
  font-size: 1.5em;
  padding-top: 0.5em;
  opacity: 60%;
  white-space: pre;
}

#\30.messageContainer {
  justify-content: center;
}

#\31.messageContainer {
  justify-content: center;
}

#\32.messageContainer {
  justify-content: center;
}

#\33.messageContainer {
  justify-content: center;
}

#\34.messageContainer {
  justify-content: center;
}

#\35.messageContainer {
  justify-content: center;
}

#\36.messageContainer {
  justify-content: center;
}

#\37.messageContainer {
  justify-content: center;
  opacity: 0.7;
}

#\38.messageContainer {
  justify-content: center;
  opacity: 0.4;
}

#\39.messageContainer {
  justify-content: center;
  opacity: 0.1;
}

.messageSenderContainer {
  justify-content: center;
  align-self: flex-end;
  text-align: center;
  min-height: 25em;
}

.messageInput {
  width: 100%;
  min-height: 5em;
  max-width: 40em;
  font-size: 4em;
  text-align: center;
  resize: none;
  box-shadow: none;
  outline: none;
  border: transparent;
  padding-top: 3vh;
  overflow: hidden;
}

.messageInput::placeholder {
  font-size: 4vh;
}

.messageButton {
  text-align: center;
  border: none;
  font-size: 5vh;
  background-color: red;
}